@media  screen and (max-width: 458px)  {
	#service-img {
		padding: 7px;
		border-radius: 100%;
		background: #346bec;
		width:50px;
	}
}

@media screen and (min-width: 458px) {
	#service-img {
		padding: 10px;
		border-radius: 100%;
		background: #346bec;
		width: 70px;
	}

}