@media screen and (max-width: 458px) {
	.trending-section {
	margin: 50px 0;
}
.trending-grid{
	display: grid;
	grid-template-columns: auto ;
	justify-content: center;
gap: 20px;
align-content: center;
align-items: center;
padding: 0px 0px 0px 13px ;
}

}